/Vorlesungen/auto/
/Vorlesungen/lecture-??.vrb
/Vorlesungen/lecture-??.aux
/Vorlesungen/lecture-??.log
/Vorlesungen/lecture-??.nav
/Vorlesungen/lecture-??.out
/Vorlesungen/lecture-??.pdf
/Vorlesungen/lecture-??.snm
/Vorlesungen/lecture-??.synctex.gz
/Vorlesungen/lecture-??.toc
/Vorlesungen/lecture-??.fls
/Vorlesungen/lecture-??.fdb_latexmk
/Vorlesungen/FS????-Vorlesung-??-overlay.pdf
/Vorlesungen/FS????-Vorlesung-??-print.pdf
/Uebungen/auto/
/Uebungen/blatt-??.aux
/Uebungen/blatt-??.log
/Uebungen/blatt-??.pdf
/Uebungen/blatt-??.fls
/Uebungen/blatt-??.synctex.gz
/Uebungen/blatt-??.fdb_latexmk
