/Vorlesungen/auto/
/Vorlesungen/lecture-??.vrb
/Vorlesungen/lecture-??.aux
/Vorlesungen/lecture-??.log
/Vorlesungen/lecture-??.nav
/Vorlesungen/lecture-??.out
/Vorlesungen/lecture-??.pdf
/Vorlesungen/lecture-??.snm
/Vorlesungen/lecture-??.synctex.gz
/Vorlesungen/lecture-??.toc
